# Ignore all PNG files except those in output/figures
*.png

# Ignore macOS system files
.DS_Store
**/.DS_Store

# Ignore files in virtual environment (venv) directory
venv/

# Ignore __pycache__ directory
src/__pycache__/

# Ignore output
output/